#mainDiv {
    text-align: center;
}

header {
    align-items: right
    ;
    font-size: 100px;
    margin-left: 0;
}

button {
    background: radial-gradient(circle, rgb(243, 230, 154) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 8px;
    color: #a84121;
    cursor: pointer;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #275a8a;
    color: rgb(233, 226, 226);
   
  }


  .results {
    display: hidden;
  }
